{% extends "templates::html.twig" %}

{% block body %}
  {% include 'blocks::Header/Header.twig' %}
  <h1>{{global.title}}</h1>

  <h2>About</h2>
  <p>{{lead}}</p>

  <figure class="webpack-banner">
    <div><!-- background-image --></div>
  </figure>

  {% include 'blocks::Footer/Footer.twig' %}
{% endblock %}
