@mixin banner($padding:10px) {
  padding: $padding;
  width: 100px;
  height: 100px;
}

.webpack-banner {
  @include banner(1em);

  background-color: #2B3A42;

  & > * {
    background-image: url('/svg/webpack.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
  }
}
