<nav>
  <ul>
    {% for item in global.main_nav_items %}
      {% if item.label %}
        <li>
          <a href="{{item.href}}">{{item.label}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
