{% extends "templates::html.twig" %}

{% block body %}
  {% include 'blocks::Header/Header.twig' %}
  <h1>{{global.title}}</h1>

  <h2>Home</h2>
  <p>{{lead}}</p>

  <img src="images/dog.png" alt="" />

  {% include 'blocks::Footer/Footer.twig' %}
{% endblock %}
