<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{global.title}}</title>
  <script src="bundle.js"></script>
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
